body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background: #ffffffba;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .left-section {
    background-color: #000;  /* Black background */
    color: #fff;  /* White text */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .left-section .branding img {
    max-width: 150px;
  }
  
  .left-section h1 {
    margin: 20px 0;
    font-size: 24px;
  }
  
  .left-section .features {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-section .features li {
    margin-bottom: 10px;
  }
  
  .right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #a7a7a77c;  /* Ensure right section has a white background */
    color: #ffffff;  /* Black text for right section */
  }
  
  .input-box {
    margin-bottom: 10px;
  }
  
  .input-box input {
    background: #5a72a05b;
    border: 2px solid #41a059;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 80%;
  }
  
  .dropdown {
    position: relative;
    width: 90%;
  }
  
  .dropdown__face {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #41a059;
    cursor: pointer;
  }
  
  .dropdown__items {
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
    background: white;
    border: 1px solid #41a059;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    padding: 10px;
    z-index: 1;
  }
  
  .dropdown input:checked ~ .dropdown__items {
    display: flex;
  }
  
  .dropdown__items li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown__items li:hover {
    background: #f0f0f0;
  }
  
  .button-3 {
    background: #084cdf;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .button-3:hover {
    background: #0d45a5;
  }
/* CSS */
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}